BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP "clk_osc" SITE "A7";
IOBUF PORT "clk_osc" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_osc" 48.0 MHz;

LOCATE COMP "led[0]" SITE "A2";
IOBUF PORT "led[0]" IO_TYPE=LVCMOS33;

# AUDIO
LOCATE COMP "audio_l" SITE "M3";
IOBUF PORT "audio_l" IO_TYPE=LVCMOS33;
LOCATE COMP "audio_r" SITE "N1";
IOBUF PORT "audio_r" IO_TYPE=LVCMOS33;

# UART PMOD
LOCATE COMP "uart_tx[0]" SITE "B12";
IOBUF PORT "uart_tx[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "uart_rx[0]" SITE "B13";
IOBUF PORT "uart_rx[0]" IO_TYPE=LVCMOS33;

# SDRAM
LOCATE COMP "sdram_clk" SITE "F16";
IOBUF PORT "sdram_clk" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_addr[0]" SITE "M13";
IOBUF PORT "sdram_addr[0]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_addr[1]" SITE "M14";
IOBUF PORT "sdram_addr[1]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_addr[2]" SITE "L14";
IOBUF PORT "sdram_addr[2]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_addr[3]" SITE "L13";
IOBUF PORT "sdram_addr[3]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_addr[4]" SITE "G12";
IOBUF PORT "sdram_addr[4]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_addr[5]" SITE "G13";
IOBUF PORT "sdram_addr[5]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_addr[6]" SITE "G14";
IOBUF PORT "sdram_addr[6]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_addr[7]" SITE "G15";
IOBUF PORT "sdram_addr[7]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_addr[8]" SITE "F12";
IOBUF PORT "sdram_addr[8]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_addr[9]" SITE "F13";
IOBUF PORT "sdram_addr[9]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_addr[10]" SITE "T15";
IOBUF PORT "sdram_addr[10]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_addr[11]" SITE "F14";
IOBUF PORT "sdram_addr[11]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_addr[12]" SITE "E14";
IOBUF PORT "sdram_addr[12]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_ba[0]" SITE "P14";
IOBUF PORT "sdram_ba[0]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_ba[1]" SITE "N13";
IOBUF PORT "sdram_ba[1]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_csn" SITE "G16";
IOBUF PORT "sdram_csn" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_cke" SITE "F15";
IOBUF PORT "sdram_cke" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_rasn" SITE "J16";
IOBUF PORT "sdram_rasn" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_casn" SITE "K16";
IOBUF PORT "sdram_casn" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_wen" SITE "L15";
IOBUF PORT "sdram_wen" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[0]" SITE "R15";
IOBUF PORT "sdram_dq[0]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[1]" SITE "R16";
IOBUF PORT "sdram_dq[1]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[2]" SITE "P15";
IOBUF PORT "sdram_dq[2]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[3]" SITE "P16";
IOBUF PORT "sdram_dq[3]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[4]" SITE "N16";
IOBUF PORT "sdram_dq[4]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[5]" SITE "N14";
IOBUF PORT "sdram_dq[5]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[6]" SITE "M16";
IOBUF PORT "sdram_dq[6]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[7]" SITE "M15";
IOBUF PORT "sdram_dq[7]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[8]" SITE "E16";
IOBUF PORT "sdram_dq[8]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[9]" SITE "D14";
IOBUF PORT "sdram_dq[9]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[10]" SITE "D16";
IOBUF PORT "sdram_dq[10]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[11]" SITE "C15";
IOBUF PORT "sdram_dq[11]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[12]" SITE "C16";
IOBUF PORT "sdram_dq[12]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[13]" SITE "C14";
IOBUF PORT "sdram_dq[13]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[14]" SITE "B16";
IOBUF PORT "sdram_dq[14]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[15]" SITE "B15";
IOBUF PORT "sdram_dq[15]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dqm[0]" SITE "L16";
IOBUF PORT "sdram_dqm[0]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dqm[1]" SITE "E15";
IOBUF PORT "sdram_dqm[1]" IO_TYPE=LVTTL33;

# USB HOST
LOCATE COMP "usb_host_dp[0]" SITE "A3";
IOBUF PORT "usb_host_dp[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "usb_host_dp[1]" SITE "B1";
IOBUF PORT "usb_host_dp[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "usb_host_dm[0]" SITE "A4";
IOBUF PORT "usb_host_dm[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "usb_host_dm[1]" SITE "B2";
IOBUF PORT "usb_host_dm[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "DDMI_CK_P" SITE "L1";

# DDMI
IOBUF PORT "DDMI_CK_P" IO_TYPE=LVCMOS33D;
IOBUF PORT "DDMI_CK_P" DRIVE=4;
LOCATE COMP "DDMI_D0_P" SITE "M1";
IOBUF PORT "DDMI_D0_P" IO_TYPE=LVCMOS33D;
IOBUF PORT "DDMI_D0_P" DRIVE=4;
LOCATE COMP "DDMI_D1_P" SITE "R2";
IOBUF PORT "DDMI_D1_P" IO_TYPE=LVCMOS33D;
IOBUF PORT "DDMI_D1_P" DRIVE=4;
LOCATE COMP "DDMI_D2_P" SITE "R4";
IOBUF PORT "DDMI_D2_P" IO_TYPE=LVCMOS33D;
IOBUF PORT "DDMI_D2_P" DRIVE=4;

# MMOD
LOCATE COMP "flash_csn" SITE "N8";
IOBUF PORT "flash_csn" IO_TYPE=LVCMOS33;
LOCATE COMP "flash_miso" SITE "T7";
IOBUF PORT "flash_miso" IO_TYPE=LVCMOS33;
LOCATE COMP "flash_mosi" SITE "T8";
IOBUF PORT "flash_mosi" IO_TYPE=LVCMOS33;

# SDCARD
LOCATE COMP "spi_sclk0" SITE "F2";
IOBUF PORT "spi_sclk0" SLEWRATE=FAST;
IOBUF PORT "spi_sclk0" IO_TYPE=LVCMOS33;
LOCATE COMP "spi_sio0_si_mosi0" SITE "K1";
IOBUF PORT "spi_sio0_si_mosi0" SLEWRATE=FAST;
IOBUF PORT "spi_sio0_si_mosi0" IO_TYPE=LVCMOS33;
LOCATE COMP "spi_cen0" SITE "K2";
IOBUF PORT "spi_cen0" SLEWRATE=FAST;
IOBUF PORT "spi_cen0" IO_TYPE=LVCMOS33;
LOCATE COMP "spi_sio1_so_miso0" SITE "F3";
IOBUF PORT "spi_sio1_so_miso0" SLEWRATE=FAST;
IOBUF PORT "spi_sio1_so_miso0" IO_TYPE=LVCMOS33;
